.layout-container {
	position: relative;
	width: 860px;
	margin: auto;
}
.layout-header {
	height: 40px;
	position: relative;
	border-width: 1px;
	border-style: none;
	border-bottom-style: solid;
	background-position: 0px 9px;
	background-repeat: repeat-x;
	margin-bottom: 30px;
}
.layout-header img {
	float: left;
	margin-left: 4px;
	margin-top: 15px;
}
.layout-header span {
	display: block;
	border-top-color: #999999;
	border-top-style: none;
	border-top-width: 1px;
	color: #999999;
	font-size: 12px;
	letter-spacing: 6px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../img/logo-bkg.jpg);
	background-repeat: repeat-y;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
}
.layout-header .links {
	display: block;
	font-size: 12px;
	position: absolute;
	right: 10px;
	margin: 8px 0px 0px 0px;
	padding: 0px;
}
.layout-header a {
	padding-left: 8px;
	padding-right: 8px;
	margin: 0px;
}
.layout-header .theme {
	right: 2px;
	display: block;
	position: absolute;
	margin: 0px;
	padding: 0px;
	bottom: 2px;
}
.layout-header .theme li {
	cursor: pointer;
	display: block;
	float:right;
	margin:2px;
	width:20px;
	height:20px;
	background-image:url(../img/theme-buttons.png);
}
.theme .blue {
	background-position:280px;
}
.theme .blue:hover {
	background-position:260px;
}
.theme .green {
	background-position:240px;
}
.theme .green:hover {
	background-position:220px;
}
.theme .red {
	background-position:200px;
}
.theme .red:hover {
	background-position:180px;
}
.theme .brown {
	background-position:160px;
}
.theme .brown:hover {
	background-position:140px;
}
.theme .orange {
	background-position:120px;
}
.theme .orange:hover {
	background-position:100px;
}
.theme .purple {
	background-position:80px;
}
.theme .purple:hover {
	background-position:60px;
}
.theme .gray {
	background-position:40px;
}
.theme .gray:hover {
	background-position:20px;
}

.layout-body {
	position: relative;
}
.main-content {
	width: 100%;
	min-height:500px;
	float: left;
	position: relative;
	margin-right:6px;
	margin-bottom:6px;
}
.ads-window {
	float: right;
	position: relative;
	width: 300px;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	margin-bottom: 6px;
}
.upper-ads {
	height: 156px;
}
.lower-ads {
	height: 350px;
}
.ads-content {
	position:relative;
	padding: 0px;
	border: none;
	margin: 0px;
	margin-left:794px;
	z-index:2;
}
.ads-panel {
	margin: 0px;
	margin-bottom: 4px;
	padding: 4px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	border-style: solid;
	border-width: 1px;
}
.ads-iframe {
	width: 100%;
	height: 100%;
	border-style: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.layout-footer {
	clear: both;
	border-top-style: solid;
	border-top-width: 1px;
	margin-top: 6px;
	position: relative;
}

.dialog {
	position: absolute;
	padding: 4px;
	overflow:hidden;
	z-index: 4;
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
	background-position: 0px 1px;
	background-color: #FFF;
}
.dialog .cancel-button {
	position:absolute;
	background-repeat: no-repeat;
	background-position: 0px;
	z-index: 9;
}
